# =============== #

#Unity generated#

# =============== #

.idea/

Temp/

Obj/

Bin/

UnityGenerated/

Library/

App/

UWP/

QCAR/

Builds/

ServerData/

CacheServer/

UnityPackageManager/

project.json

project.lock.json


# ===================================== #

# Visual Studio / MonoDevelop generated#

# ===================================== #

.vs/
.vscode/

ExportedObj/

obj/

*.svd

*.userprefs
/*.csproj

*.editorconfig

*.csproj

*.pidb

*.suo

/*.sln

*.sln

*.user

*.unityproj

*.ipch

*.opensdf

*.sdf

*.tlog

*.log

*.idb

*.opendb

*.pb

*.h5

!*.obj
!*.rsp
!Assets/*.rsp
!/*.rsp
!*~

*.unitypackage
.svn